        <footer id="footer">
            <h1>Contact</h1>

            <a href="#header" title="Top" id="link-top">
                <div id="triunghi">&#129081;</div>
            </a>

            <!--adresa-->
            <i class="fa-solid fa-location-dot"></i>
            <a href="https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83/@44.4355393,26.097398,17z/data=!3m1!4b1!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh">Strada Academiei nr.14, 010014 București</a>
            
            <!--telefon-->
            <p>
                <i class="fa-solid fa-phone"></i>
                <strong>Tel:</strong>  
                <a href="tel:+40712360720">+40 712 360 720</a>
            </p>
            
            <!--email-->
            <p>
                <i class="fa-solid fa-envelope"></i>
                <strong>E-mail:</strong>
                <a href="mailto:dolcecrostata@gmail.com">dolcecrostata@gmail.com</a>
            </p>

            <!--link catre aplicatie de comunicare-->
            <p>
                <i class="fa-brands fa-instagram"></i>
                <strong>Instagram:</strong>
                <a href="https://instagram.com/dolcecrostata?igshid=YmMyMTA2M2Y=">@dolcecrostata</a>
            </p>

            <!--copyright-->
            <p><small>Copyright &copy;<time datetime="2024-03-01">Martie 1, 2023</time> Ruka Mirela</small></p>

            <!--banner-->
            <p id="banner">Acesta este un proiect școlar!</p>
        </footer>